section {
  padding-top: 19vh;
}

body {
  font-family: "PT Serif", serif;
  color: #444444;
  font-size: 1.1rem;
}

/* h1.title {
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 38%;
  color: white;
} */

h2 {
  margin-bottom: 10vh;
  font-size: 3.5rem;
  color: #35858b;
}

h2,
a.nav-item,
a:not(.web-developer),
button,
p.card-text {
  font-family: "Nunito", sans-serif;
}

a.nav-item {
  font-size: 135%;
  margin-right: 1vw;
}

/* header .overlay {
  position: absolute;
  top: 10%;
  left: 0;
  height: 121.6vh;
  width: 100%;
  background-color: black;
  opacity: 0.2;
  z-index: 1;
} */

/* @media screen and (min-width: 768px) and (max-width: 1024px) {
  h1.title {
    z-index: 1000;
    position: absolute;
    top: 10%;
    left: 38%;
    color: white;
  }
  header .overlay {
    position: absolute;
    top: 6.3%;
    left: 0;
    height: 42vh;
    width: 100%;
    background-color: black;
    opacity: 0.2;
    z-index: 1;
  }
} */

.navbar {
  background-color: #88e0ef;
  /* position: fixed;
  z-index: 1000; */
  width: 100%;
  transition: all 0.5s ease-in-out;
}

/* @media screen and (min-width: 1024px) {
  .navbar {
    position: fixed;
    z-index: 1000;
  }
} */

.scroll {
  background-color: #3db2ff;
}

a img:not(.logo) {
  width: 24%;
  margin: 0.2rem;
}

.profile-img {
  margin-bottom: 6vh;
}

.profile-img,
.review-img {
  max-width: 100%;
}

.profile-img {
  border-radius: 50%;
}

.about-us-description {
  line-height: 2;
  text-align: justify;
}

.card {
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

.container.google-reviews {
  text-align: center;
}

h2.google-reviews-text {
  margin: 5vh 0;
  font-size: 3rem;
}
.fa-phone,
.fa-whatsapp {
  display: block;
  margin: 0;
  padding: 0;
}

.fa-phone {
  margin-bottom: 10vh;
  color: #35858b;
}

.fa-phone:hover {
  color: #abebe6;
}

.fa-whatsapp {
  color: #25d366;
}

.fa-whatsapp:hover {
  color: #49ff00;
}

a:active,
a:hover {
  text-decoration: inherit;
}

@media screen and (max-width: 1024px) {
  .card {
    margin-bottom: 4vh;
  }

  .fa-phone,
  .fa-whatsapp {
    display: inline;
    margin-right: 10vw;
  }
}

#icon {
  width: 2rem;
  margin-right: 1vw;
}

#icon.nextdoor {
  width: 2.6rem;
}

#footer {
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .center {
    margin: auto;
    padding: 1rem;
    width: 90%;
  }

  /* .center-cards {
    margin: auto;
    padding: 1rem;
    width: 75%;
  } */

  a img:not(.logo) {
    width: 30%;
    margin: 0.2rem;
  }
}

.web-developer,
.web-developer:hover {
  text-decoration: underline;
  color: inherit;
  font-size: 0.9rem;
}

.fa.fa-phone.phone-contact {
  display: inline;
  color: inherit;
  margin-right: 0;
}

.main-pic {
  border-radius: 50%;
  width: 70%;
  z-index: 10;
}

.main-logo {
  border-radius: 10% 30% 50% 70%;
  width: 25%;
  position: absolute;
  top: 26%;
  right: 13%;
  z-index: 100;
}

@media screen and (max-width: 767px) {
  .main-pic {
    position: relative;
    /* top: 13vh;
    left: 14%; */
    border-radius: 0;
    width: 100%;
  }

  .main-logo {
    border-radius: 50%;
    width: 20%;
    position: absolute;
    top: 85%;
    right: 1%;
    z-index: 100;
  }
}
